% extends "base.html"

% block header
  % if name
    {{ name }}
  % endif
% endblock

% block content
  % if top_ten_on_demand
    <h2>Top ten for On Demand</h2>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Region</th>
          <th>Instance Size</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      % for top in top_ten_on_demand
        <tr>
          <td>{{ top.name }}<br></td>
          <td>{{ top.size }}<br></td>
          <td>{{ top.price }}<br></td>
        </tr>
        % endfor
      </tbody>
    </table>
  % endif
% endblock