% extends "base.html"

% block header
  % if name
    {{ name }}
  % endif
% endblock

% block content
  % if pricing_data
    % for data in pricing_data
      <h2>Region: {{ data.name }}</h2>
      % for type in data.types
        <b>Instance Type:</b> {{ type.type }}<br>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Size</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
          % for specs in type.region_data
            <tr>
              <td>{{ specs.size }}<br></td>
              <td>{{ specs.price }}<br></td>
            </tr>
            % endfor
          </tbody>
        </table>
        <br><br>
      % endfor
      <hr>
    % endfor
  % endif
% endblock